* {
    background-color: #3e3e3e;
}

header{
    width: 100%;

    .title-language{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
        color: #FFFFFF;
    }

    .name-language-program{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .nexa-name{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(211, 63, 63);
            font-size: 400%;
        }
    }

}
.container-verification{
    width: 100%;

    .options-bottoms{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .option{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 600;
            font-size: .9rem;
            height: 3rem;
            width: 8rem;
            border: none;
            border-left: #131313 solid 1px;
            background-color: #ffffff;
            transition: .3s;
        }
        .option:hover{
            background-color: rgb(211, 63, 63);
            transition: .3s;
            color: #FFFFFF;
        }
    }
    .form-code{
        width: 100%;
        text-align: center;



.textarea-code{
    width: 100%;
    display: flex;
    justify-content: center;
}


.txtCode-2{
    font-family: 'JetBrains Mono';
    color: #FFFFFF;
    width: 40%;
    height: 30rem;
}

        .button-verific{
            margin-top: 10vh;
            margin-bottom: 15vh;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 600;
            height: 2rem;
            width: 10rem;
            border: none;
            background-color: #ffffff;
            border-radius: 2px;
            transition: .3s;
        }
        .button-verific:hover{
            background-color: rgb(211, 63, 63);
            transition: .3s;
            color: #ffffff;
        }
    }
}

.container-data{
    width: 100%;

    .txtArea-div-Code{
        width: 100%;
        display: flex;
        justify-content: center;

        .txtArea-code{
            font-family: 'JetBrains Mono';
            color: #FFFFFF;
            width: 40%;
            height: 30rem;
        }
    }

    .data-code-2{
        display: flex;
        flex-direction: column;
        align-items: center;

        .txtArea-div-result{
            width: 80%;
            height: 30rem;
            background-color: #FFFFFF;

            .txt-data-results{
                width: 98%;
                padding-left: 2%;
                background-color: #FFFFFF;
                font-family: 'JetBrains Mono';
                color: #131313;
                font-size: .7rem
            }
        }
    }


}
footer{
    width: 100%;
    margin-top: 5rem;
    
    .name-language-container{
        display: flex;
        justify-content: center;
        
        .nexa-name{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 400;
            font-size: 4vh;
            text-align: center;
            color: rgb(77, 77, 77);
            transition: .3s;
            
        }
        .nexa-name:hover{
            color: rgb(211, 63, 63);
            transition: .3s;
            cursor: pointer;
        }
        .nexa-icon{
            width: 4vh;
        }
    }
}

.container-button{
    margin-top: 5vh;
    width: 100%;
    height: 9vh;
    display: flex;
    place-content: center;
}

.option{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: larger;
    width: 30%;
    border: none;
    background-color: #2a2424;
    color: #fff;
    transition: .3s;
    border-radius: 10px;
    cursor: pointer;
}
.option:hover{
    background-color: rgba(25, 20, 20, 0.684);
    transition: .3s;
    color: #FFFFFF;
}

.data-code-pila{
    width: 100%;

    .comparation{
        width: 100%;
        display: flex;
        justify-content: center;

        .data-coding{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .txtCode-2{
                font-family: 'JetBrains Mono';
                color: #FFFFFF;
                width: 80%;
                height: 20rem;
            }
        }
        .data-pila{
            width: 100% ;
            justify-content: center;
            align-items: center;
            text-align: center;

            .txtArea-code{
                font-family: 'JetBrains Mono';
                color: #FFFFFF;
                width: 80%;
                height: 20rem;
            }   

            .borrar{
                margin-top: 5%;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-weight: 600;
                font-size: .9rem;
                height: 3rem;
                width: 8rem;
                border: none;
                border-left: #131313 solid 1px;
                background-color: #ffffff;
                transition: .3s;
            }
            .borrar:hover{
                background-color: rgb(211, 63, 63);
                transition: .3s;
                color: #FFFFFF;
            } 
        }
    }

}

.subtitle-code{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    text-align: center;
    color: #FFFFFF;
}




