.container-f{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    position: relative;
    right: 43%;
}

.code-area{
    min-width: 48%;
    height: 100%;
    /* background-color: blue; */
}

.docs{
    min-width: 48%;
    height: 100%;
    /* background-color: red; */
}

.textarea-docs{
    height: 80vh !important;
    resize: none;
}